

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: #EDEDED;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #333533;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}



nav{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(#ededed88, #ededed00);
    transition: all 0.5s ease;
    /* background-image: linear-gradient(#96969652, #ededed00); */
    /* background-color: #ededed56; */
}

.logo{
    flex: 1;
    z-index: 1;
    width: 100px;
}

.logo img{
    /* width: 200px; */
    height: 80%;
    color: #333533;
    margin: 1% 3%;
    transition: all 0.5s ease;
}
nav.small{
    /* width: 150px; */
    height: 50px;
    color: #333533;
    /* margin: 1% 3%; */
    transition: all 0.5s ease;
}

.nav-links{
    flex: 1;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
}
.active::after{
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: relative;
    background: #333533;
    width: 100%;
    left: 0; 
}
.nav-links li a{
    font-size: 16px;
    font-weight: bold;
    color: #333533;
    /* text-transform: lowercase; */
}

.nav-links li a::after {    
    content: "";
    display: block;
    height: 3px;
    left: 0;
    position: relative;
    background: #333533;
    transition: width 0.3s ease 0s, left 0.3s ease-out 0s;
    width: 0;
}
.nav-links li a:hover:after { 
    width: 100%; 
    left: 0; 
}
.login{
    text-decoration: none;
    border: solid #242423 2px;
    color: #242423;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5%;
    margin-top: 10px;
    padding: 9px 9px 5px 7px;
    cursor: pointer;;
    overflow: hidden;
    position: relative;
}

.login:hover{
    color: #EDEDED;
}


.login:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #242423;
}
.login:hover:after,
.login:active:after {
    width: 100%;
}
.nav-buttons{
    position: fixed;
    right: 4%;
    bottom: 7%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.hamburger{
    display: none;
}
.scroll-to-top{
    background-color: rgba(253, 253, 253, 0.781);
    width: 51px;
    height: 40px;
    cursor: pointer;
    right: 3%;
    bottom: 3%;
    border: solid #242423 2px;
    text-align: center;
    font-size: 12px;
    /* display: none; */
    z-index: 0;
    opacity: 0;
    transition: all 0.5s ease;
    /*To remove on tap blue color*/
    -webkit-tap-highlight-color: transparent;
    /*To disable text selection on tap or double click*/
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/

}

.scroll-to-top img{
    margin: 3px;
    width: auto;
    animation: upup 0.8s infinite alternate;
}
.scroll-to-top.fade{
    opacity: 1;
    /* z-index: -2; */
}


@keyframes upup{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(7px);
    }
}

.more{
    width: 100%;
    height: 20%;
    /* background-color: burlywood; */
    display: flex;
    position: absolute;
    bottom: -10%;
    font-size: 12px;
    text-align: center;
    z-index: 0;
    flex-direction: column;
    /*To remove on tap blue color*/
    -webkit-tap-highlight-color: transparent;
    /*To disable text selection on tap or double click*/
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
    transition: all 0.5s ease;
}
.more img{
    height: 10px;
    margin: 10px 0px 5px 0px;
    animation: swipe 0.8s infinite alternate;
}
.more span{
    font-weight: bold;
    font-size: 12px;
}
.more.fade{
    opacity: 0;
}

.desktop{
    display: block;
}
.mobile{
    display: none;
}

@keyframes swipe{
    0%{
        transform: translateY(2px);
    }
    100%{
        transform: translateY(7px);
    }
}



@media screen and (min-width: 1220px){
    .nav-links li{
        margin-top: 20px;
    }
}



@media screen and (max-width: 1220px){
    .logo{
        z-index: 1;
        position: fixed;
        width: 100%;
    }
    
    .logo img{
        width: 150px;
        color: #333533;
        margin: 2% 3%;
        transition: all 0.5s ease;
    }
    .logo img.small{
        width: 130px;
        height: 80%;
        color: #333533;
        margin: 2% 3%;
        transition: all 0.5s ease;
    }
    /* .logo img{
        height: 100%;
        margin: 1% 3%;
    } */
    /* .logo img.small{
        height: 80%;
        color: #333533;
        margin: 1% 3%;
        transition: all 0.5s ease;
    } */
    .line1{
        width:27px;
        height:2px;
        background-color: #242423;
        margin: 5px;
        transition: all 0.5s ease;
    }
    .line2{
        width:27px;
        height:2px;
        background-color: #242423;
        margin: 5px;
        transition: all 0.5s ease;
    }
    .line3{
        width:27px;
        height:2px;
        background-color: #242423;
        margin: 5px;
        transition: all 0.5s ease;
    }
    .line1.close{
        transform: translate(0px,7px) rotate(45deg);
    }
    .line2.close{
        opacity: 0;
    }
    .line3.close{
        transform: translate(0px,-7px) rotate(-45deg);
    }
    .hamburger{
        background-color: rgba(253, 253, 253, 0.781);
        padding: 5px;
        z-index: 2;
        cursor: pointer;
        border: solid #242423 2px;
        text-align: center;
        font-size: 10px;
        display: unset;
        transition: all 0.5s ease;
        -webkit-tap-highlight-color: transparent;
    }
    .hamburger.hide{
        opacity: 0;
    }
    .scroll-to-top.hide{
        opacity: 0;
    }
    .x{
        transition: all 0.6s ease;
    }
    .x.open{
        transform: rotate(360deg);
    }
    .scroll-to-top{
        width: 51px;
        height: 40px;
        cursor: pointer;
        right: 3%;
        bottom: 3%;
        border: solid #242423 2px;
        margin-bottom: 10px;
        font-size: 10px;
        transition: all 0.5s ease;
        -webkit-tap-highlight-color: transparent;
    }
  
    .scroll-to-top.close{
        transition: all 0.5s ease;
        opacity: 0;
    }

    .nav-links{
        position: fixed;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.747);
        width: 100%;
        flex-direction: column;
        justify-content: center;
        clip-path: circle(50px at 110% 110%);
        -webkit-clip-path: circle(50px at 110% 110%);
        transition: all 1s ease;
        /* z-index: -1; */
        display: none;
    }
    .nav-links.display{
        display: flex;
    }
    .nav-links.open{
        /* z-index: 1; */
        clip-path: circle(1200px at 110% 110%);
        -webkit-clip-path: circle(1200px at 110% 110%);
    }
    .nav-links li{
        margin: 25px;
        opacity: 0;
    }
    .login{
        text-decoration: none;
        background-color:#242423;
        border: solid #242423 3px;
        color: #EDEDED;
        font-size: 20px;
        font-weight: bolder;
        border-radius: 3%;
        margin-left: 5px;
        padding: 10px 10px 9px 10px;
        cursor: pointer;
        opacity: 0;
    }
    .nav-links li a,.login{
        font-size: 25px;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.3s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.2s;
    }
    .login{
        transition: all 0.5s ease 0.1s;
    }
    .nav-links li.fade,.login.fade{
        opacity: 1;
    }
    .more span{
        font-size: 10px;
        font-weight: bolder;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
}