@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* CORE STYLES */
:root {
  --color1: #cfdbd5;
  --color2: #e8eddf;
  --color3: #f5cb5c;
  --color4: #242423;
  --color5: #333533;
}

.intro{
  background-color: #C2DFE3;
  /* height: 90vh; */
  /* width: 100vw; */
  overflow: hidden;
}
.info{
  background-color: #f5cb5c;
  height: 90vh;
  /* width: 100vw; */
  overflow: hidden;
}
.intro img,.info img{
  width: 100%;
}

main{
  height: 100vh;
  text-align: center;
}
main section{
  width: 100%;
  /* background-color: #f5cb5c; */
  text-align: center;
  position: absolute;
  top: 50%;
}
main section h1{
  font-size: 20px;
  font-weight: normal;
}
#c{
  width: 100%;
  height: 100%;
  display: block;
  outline: none;
  position: absolute;
  z-index: -1;
  /* background-color: ivory; */
}

.more{
  width: 100%;
  height: 20%;
  /* background-color: burlywood; */
  display: flex;
  position: absolute;
  bottom: -10%;
  font-size: 12px;
  text-align: center;
  z-index: 0;
  flex-direction: column;
  /*To remove on tap blue color*/
  -webkit-tap-highlight-color: transparent;
  /*To disable text selection on tap or double click*/
  -moz-user-select: none; /* Firefox */
  user-select: none;/*standard*/
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
  transition: all 0.5s ease;
}
.more img{
  height: 10px;
  margin: 10px 0px 5px 0px;
  animation: swipe 0.8s infinite alternate;
}
.more span{
  font-weight: bold;
  font-size: 12px;
}
.more.fade{
  opacity: 0;
}

.desktop{
  display: block;
}
.mobile{
  display: none;
}

footer{
  background-color: #333533;
  color: #e8eddf;
}
.container{
  width:90%;
  margin: auto;
}
.footer-info{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 25px;
}
.footer-links{
  flex: 1;
}
.footer-links li{
  margin: 0 0 5px 0;
  margin-left: 40%;
}
.footer-links li a{
  font-size: 14px;
  color: #e8eddf;
}
.footer-links li a:hover,.moto a:hover{
  opacity: 0.7;
}
.moto{
  margin: auto;
  /* text-align: center; */
  flex: 1;
  font-size: 12px;
  flex-direction: column;
}
.motoimage{
  width: 100px;
}

.join{
  font-size: 14px;
  color: #e8eddf;
}
.icons-mobile{
  display: none;
}
.icons{
  flex: 1;
  text-align: center;
  margin: auto;
}
.icons a{
  margin: auto 20px auto 20px;
}
.icon{
  width: 30px;
  transition: all 0.2s ease;
}
.icon:hover{
  opacity: 0.7;
}

.copy{
  width: 90%;
  margin: 20px auto 0 auto;
  padding-bottom: 25px;
  font-size: 12px;
  border-top: 1.5px dashed #e8eddf;
}


@keyframes swipe{
    0%{
        transform: translateY(2px);
    }
    100%{
        transform: translateY(7px);
    }
}

@media screen and (max-width: 1220px){
  
  /* #c{
    position: absolute;
    z-index: -1;
  } */
  .desktop{
    display: none;
  }
  .container{
    width: 80%;
  }
  footer{
    background-color: #333533;
    color: #e8eddf;
    /* display: flex; */
    /* height: 240px; */
  }
  .footer-links li a{
    font-size: 14px;
    color: #e8eddf;
  }
  .moto{
    margin: auto;
    text-align: center;
    flex: 1;
    font-size: 12px;
    flex-direction: column;
  }  
  .join{
    font-size: 12px;
    color: #e8eddf;
  }
  .icons{
    display: none;
  }
  .icons-mobile{
    display: block;
    margin: 15px auto 15px auto;
    text-align: center;
  }
  .icon{
    margin: auto 5px auto 5px;
  }
  .copy{
    width: 80%;
    margin: 0px auto 0 auto;
    font-size: 10px;
    border-top: 1.5px dashed #e8eddf;
  }
}